<div class="form-group" data-UAEBusinessArea-check-radio="1">
    <div class="question">Планируете ли вести деятельность по всей территории ОАЭ?</div>
    <div class="question note">(например: торговые точки, офисы, услуги перевозки)</div>
    <div class="option">
        <input type="radio" value="1" name="uae_business_full_area"  required="" aria-invalid="true">
        Да
    </div>
    <div class="option">
        <input type="radio" value="0" name="uae_business_full_area"  required="" aria-invalid="true">
        Нет
    </div>
</div>