<div class="secondary-place" data-url="/get_activity_detail?activity={{ activity.id }}" data-NotActiveCheckingActivities="1">
    <div class="header">
        <input type="hidden" name="activities" value="{{ activity.id }}">
        <div class="row">
            <div class="caption">{{ activity.name }}</div>
            <button type="button" onclick="removeActivity(this)" data-HideCheckingActivities="1">Удалить</button>
        </div>
    </div>
    <div class="body">
        <div class="left"></div>
        <div class="right">
            <div class="caption">Специализации:</div>
            {% for specialization in activity.specialization.all %}
                <div class="specialization_place">
                    <input type="checkbox" id="specialization_{{ specialization.id }}" name="specialization_{{ activity.id }}" value="{{ specialization.id }}" data-NotActiveCheckingActivities="1">
                    <label for="specialization_{{ specialization.id }}">{{ specialization.name }}</label>
                </div>
            {% endfor %}
        </div>
        
    </div>
</div>
