{% load static %}
<div class="form-group" data-block3-check-radio="1">
    <div class="question">Являетесь ли Вы уже акционером или владельцем компании, зарегистрированной по месту Вашего жительства/гражданства?</div>
    <div class="option">
        <input type="radio" name="is_home_shareholder" value="1" required="" aria-invalid="true">
        Да
    </div>

    <div class="option">
        <input type="radio" name="is_home_shareholder" value="0" required="" aria-invalid="true">
        Нет
    </div>
</div>
<div id="is-home-shareholder-detail"></div>


<div class="next" onclick="checkInputsBlock3(this)">Далее</div>
<div id="visa" class="form-group"></div>

<script>
    listenShareholderHomeCompany()
</script>
