<div class="form-group">
    <div class="question">Планируемые движения на счет в течение месяца:</div>
    
    <div class="row">
        <div class="text">Входящие</div>
        <input type="text" name="bank_month_activity_input_min" required placeholder="min">
        <input type="text" name="bank_month_activity_input_max" required placeholder="max">
    </div>    
    
    <div class="row">
        <div class="text">Исходящие</div>
        <input type="text" name="bank_month_activity_output_min" required placeholder="min">
        <input type="text" name="bank_month_activity_output_max" required placeholder="max">
    </div>
    
</div>