<div class="form-group">
    <div class="question">Предполагаемый годовой оборот компании:</div>


    <div class="option">
        Текущий год
        <input type="number" name="company_annual_turnover_this_year" required placeholder="USD">
    </div>

    <div class="option">
        Следующий год
        <input type="number" name="company_annual_turnover_next_year" required placeholder="USD">
    </div>

    <div class="option">
        Через два года
        <input type="number" name="company_annual_turnover_from_two_years" required placeholder="USD">
    </div>

</div>