<div class="form-group">
    <div class="question">Что будет служить вашим источником происхождения средств?</div>

    <div class="option">
        <input type="radio" name="source_of_funds" value="1" required="" aria-invalid="true">
        Я получал/получаю хорошую зарплату
    </div>
    <div class="option">
        <input type="radio" name="source_of_funds" value="0" required="" aria-invalid="true">
        Я предприниматель
    </div>
    <div class="option">
        <input type="radio" name="source_of_funds" value="0" required="" aria-invalid="true">
        У меня нет официального подтверждения происхождения средств
    </div>
</div>