<div class="place" style="margin-top: 5px;">
    <div class="form-group">
        <div class="question">Укажите количество визовых квот в компании:</div>
        <input type="number" min="1" name="visa_quotas" placeholder="Количество" id="visa-quota-number">
    </div>
    <div class="form-group">
        <div class="question">Сколько виз планируете получать в кратчайшие сроки?</div>
        <input type="number" min="0" name="visa_quotas_now" placeholder="Количество" id="visa-quota-number-to-make">
    </div>
</div>