{% extends 'base.html' %}

{% block body %}
    <form action="{% url 'index' %}"
          method="post"
          class="dynamic-form"
          
          hx-post="{% url 'get_solutions' %}"
          hx-target="#solutions"
    >
    
        {% csrf_token %}
        <div id="main_tab" class="tab">
             {% include 'main/uae_business_area/index.html' %}

        </div>

        <div id="bank-account-form" class="tab" style="display: none;"></div>
        <button type="submit" class="next" style="position: absolute; bottom: 0;">Отправить</button>
    
    <form>
    <div id="solutions"></div>
    <div id="space" style="min-height: 50svh;"></div>
    
{% endblock %}
