{% extends 'base.html' %}

{% block body %}

    <form action="{% url 'index' %}" method="post" class="dynamic-form">
        {% csrf_token %}
        {% include 'main/form_blocks/entity_type.html' %}

        <div id="main-form-data" class="form-group"></div>
        <div id="shareholder_question" class="form-group"></div>
        <div id="registration_preferences" class="form-group"></div>
        <div id="outsource" class="form-group"></div>
        <div id="visa" class="form-group"></div>
        <div id="shareholders" class="form-group"></div>

{#        <button type="submit">Отправить</button>#}
    <form>
    
{% endblock %}
