<div class="form-group">
    <div class="question">Я способен поддерживать средний ежемесячный остаток на корпоративном счете в размере:</div>
    <div class="question note"> (в USD или эквиваленте)</div>
    
    <div class="form-group">
        {% include 'main/bank_account_form/bank_minimal_monthly_balance/in_country_company.html' %}
        {% include 'main/bank_account_form/bank_minimal_monthly_balance/offshore.html' %}
        
        <div class="option">
            <input type="radio" name="bank_minimal_monthly_balance" value="500000" required="" aria-invalid="true">
            не менее 
            <input type="number" min="30000" name="bank_minimal_monthly_custom_balance" required data-dynamic-placeholder="$80 000, $150 000, $600 000, $450 000, $1 000 000">
        </div>
        
    </div>
    
</div>