<div class="form-group">
    <div class="question">Требуется ли номинальный сервис:</div>
    
    <div style="margin-left: 25px;">
        <label>
            <input type="checkbox" name="nominal_shareholder">
            Акционер
        </label>
        <label>
            <input type="checkbox" name="nominal_director">
            Директор
        </label>
        <label>
            <input type="checkbox" name="nominal_secretary">
            Секретарь
        </label>
        <label>
            <input type="checkbox" name="nominal_service">
            Нет
        </label>
    </div>
</div>
