:root {
  --tg-theme-bg-color: #ffffff;
  --tg-theme-text-color: #000000;
  --tg-theme-hint-color: #a8a8a8;
  --tg-theme-link-color: #1b95e0;
  --tg-theme-button-color: #0088cc;
  --tg-theme-button-text-color: #ffffff;
  --tg-theme-secondary-bg-color: #f5f5f5;
  --tg-theme-header-bg-color: #f7f7f7;
  --tg-theme-accent-text-color: #ff4b55;
  --tg-theme-section-bg-color: #ffffff;
  --tg-theme-section-header-text-color: #000000;
  --tg-theme-subtitle-text-color: #7a7a7a;
  --tg-theme-destructive-text-color: #ff3b30;
}
* {
  font-family: Inter;
}
body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  margin: 0;
}

a {
  color: var(--tg-theme-link-color);
}

button {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
}

.section {
  background-color: var(--tg-theme-section-bg-color);
  color: var(--tg-theme-section-header-text-color);
}

.subtitle {
  color: var(--tg-theme-subtitle-text-color);
}

.destructive {
  color: var(--tg-theme-destructive-text-color);
}
input {
  color: var(--tg-theme-text-color);
  background-color: transparent;
}




.solutions {
  position: absolute;
  top: 50px;
  left: 50px;


  .payments {
    .payment {
      border-bottom: 1px solid #0088cc;
      padding-bottom: 2px;
      width: 100%;
      /* background-color: red; */
      display: flex;
      justify-content: space-between;

      .value {
        margin-left: 45px;
        display: flex;
        justify-content: space-around;
      }
    }
  }
  .price_total {
    text-align: right;
    display: flex;
    justify-content: space-between;

    .value {
      display: flex;
    }
  }
}
.decimal {
  font-size: 80%;
}