<div class="form-group" data-block8-check-radio-office="1">
    <div class="question">Для открытия корпоративного счета необходим контракт на проживание, соответственно вы:</div>
    <div class="option">
        <input type="radio" value="self" name="contract_of_residence"  required="" aria-invalid="true">
        Я планирую арендовать жилье в ОАЭ самостоятельно и предоставлю вам контракт
    </div>
    <div class="option">
        <input type="radio" value="minimal" name="contract_of_residence"  required="" aria-invalid="true">
        Я не планирую арендовать жилье и нужен минимально достаточный контракт на проживание
    </div>
    
</div>