<div id="bank-account-question" class="form-group" data-block8-check-radio-bank="1">
    <div class="question">Нужен ли Вам банк-счет в ОАЭ?</div>
    <div class="option">
        <input type="radio" value="company" name="bank_account"  required="" aria-invalid="true">
         ДА, нужен корпоративный счет
    </div>
    
    <div id="bank-account-detail" style="display: none;">
        <div class="bank_account_tab_btn" onclick="showTab('bank-account-form', '#bank-account-form-top')">Открыть анкету</div>
    </div>
    
    <div class="option">
        <input type="radio" value="personal" name="bank_account"  required="" aria-invalid="true">
        ДА, нужен только личный счет
    </div>
    <div class="option">
        <input type="radio" value="no" name="bank_account"  required="" aria-invalid="true">
        Нет
    </div>
</div>
<div id="office-detail"></div>

<div class="next" onclick="checkInputsBlock8(this)">Дальше</div>
<div id="shareholders" class="form-group"></div>
<script>
   listenBank()
</script>