<div class="form-group" data-block8-check-radio-office="1">
    <div class="question">Нужен ли Вам реальный офис в ОАЭ или подойдет минимально достаточный для открытия корпоративного счета?</div>
    <div class="option">
        <input type="radio" value="real" name="office"  required="" aria-invalid="true" id="real_office" data-need-office-for-bank="1">
        Да, нужен реальный
    </div>
    <div class="place" style="margin: 5px 0 0 20px; display: none;" id="real_office_area">
        <div class="form-group" style="margin-bottom: 0;">
            <div class="question">Укажите желаемую площадь:</div>
            <div id="real_office_input_area">
                <input type="number" min="1" placeholder="м2" id="real_office_input" name="real_office_area" data-office-area-check="1">
            </div>
        </div>
    </div>
    
    <div class="option">
        <input type="radio" value="minimal" name="office"  required="" aria-invalid="true" id="minimal_office" data-need-office-for-bank="1">
        Нужен только для открытия корпоративного счета
    </div>    
    
    <div class="option">
        <input type="radio" value="no" name="office"  required="" aria-invalid="true" id="my_office" data-need-office-for-bank="1">
        Офис не требуется (уже есть)
    </div>

</div>

<script>
    listenOffice()
</script>